input {
    padding: 10px;
    width: 200px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 25px;
}

.goButton {
    padding: 10px;
    width: 80px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-weight: bold;
}
.goButton:hover {
    background-color: red;
    /* border: 1px solid red; */
}

.goButton:hover input{
    border: 1px solid red !important;
}